!.gitkeep
# bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/
/bin/

# minimal Rails specific artifacts
/log/*
/tmp/*

# various artifacts
**.war
*.rbc
*.sassc
.rspec
.redcar/
.sass-cache
/config/config.yml
/config/database.yml
/coverage.data
/coverage/
/public/cache
/public/stylesheets/compiled
/public/system/*
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/specifications
rerun.txt
pickle-email-*.html

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# Ignore application configuration
/config/application.yml
